{% extends "index.html" %} {% block projects %}
{% for projects in home %} 
<div class="project">
  <a class="linkTo_projects" href="{{ projects.url}}">
    <img class="project_image" src="{{ projects.image }}" alt="project" srcset="" />
    <h2 class="project_title">{{ projects.title }}</h2>
    <h3 class="textAbout_project">{{ projects.description }}</h3>
  </a>
</div>
{% endfor %}
{% endblock %}
{% block footer %}
<footer>
  <div id="footer_container">
    <div class="footer__left">
      <h3 class="footer__title">hello this is the footer </h3>
      <p class="footer__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
    </div>
  <div class="footer__icons">
</footer>
{% endblock %}
