{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>python</title>
    <link rel="stylesheet" href="{% static '../static/style.css' %}">
</head>
<body>
    <nav>
        <h1>title</h1>
        <ul id="title_links">
            <li><a href="#">about me</a></li>
            <li><a href="#">products</a></li>
            <li><a href="#">my goal</a></li>
            <li><a href="#">contact</a></li>
        </ul>
    </nav>
    {% block title %}
    {% endblock %}
    <div>
        {% block todo %}
        {% endblock %}
    </div>
</body>
</html>