{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio Stijn Septer</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="stylesheet" href="{% static 'hamburerMenu.css' %}" />
    <link rel="stylesheet" href="{% static 'media.css' %}" />
  </head>
  <body>
    <nav>
      <div>
        <input id="menu__toggle" type="checkbox" style="display: none;"/>
        <label class="menu__btn" for="menu__toggle">
          <span span>
        </label>
        <ul class="menu__box">
          <li><a class="menu__item" href="#">about me</a></li>
          <li><a class="menu__item" href="#">products</a></li>
          <li><a class="menu__item" href="#">my goal</a></li>
          <li><a class="menu__item" href="#">contact</a></li>
        </ul>
      </div>
        <h1>Hello I am Stijn Septer</h1><br>
        <!-- <h2 id="sub_title">Lorem ipsum dolor sit amet consectetur.</h2> -->
    </nav>
    <header>
      {% block projects %} {% endblock %}
    </header>
    <!--* splitsing tussen de slideshow en projecten -->
    <div id="container_slideshow">
      <div id="slideshow">
        {% if info.len != 0 %}
          {% for slideshow in info %}
              <div class="mySlides fade">
                <img src="{{ slideshow.image }}" alt="" srcset="">
                <div class="textSlideshow"><p>{{ slideshow.description}}</p></div>
              </div>
          {% endfor %}
        {% endif %}
            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>
            </div>
            <br>
      </div>
    </div>
    <footer>
      {% block footer %} {% endblock %}
    </footer>
  </body>
  <script src="{% static '../static/slideshow.js' %}"></script>
</html>
